.contCalc {
    /* margin: 0 auto; */
    display: grid;
    max-width: 400px;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 60px repeat(5, 60px);
    grid-gap: 3%;
    font-size: 18px;

  }
  
  .item {
    color: #fff;
    padding: 0.85em;
    background: #41b1ad;
    /* border: 5px solid black; */
    border: none;
    border-radius: 10%;
    font-size: 100px;
    font-weight: 650;
    box-shadow: 3px 3px 1px rgba(128, 128, 128, 0.432);
    
  }
  .item:hover{
    background: #cbcccc;
  }
  
  .item:not(.display) {
    font-size: 1.2em;
  }
  
  .item.number,
  .item.zero,
  .item.dot {
    background-color: #41b1ad;
  }
  .item.number:hover{
    background: #cbcccc;
  }
  
  .display {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
  .display p {
    margin-top: -0.5em;
    display: flex;
    justify-content: flex-end;
  }
  
  .expression {
    color: yellow;
  }
  
  .ac {
    background-color: #f3f3f3;
    grid-column: 1 / span 2;
    color: black;
  }
  
  .zero {
    grid-column: 1 / 4;
    grid-column-start:4;
  }
  .percent{
    grid-column: 1 / 4;
    grid-column-start:3;
    grid-row: 5;
  }
  .equals {
    background-color: #7CE775;
    grid-column: 1 / 3;
    /* grid-row: 5 / span 2; */
  }
  