.row {
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    
  }

  .column {
    flex: 80%;
    height: 100vh ; /* Should be removed. Only for demonstration */
    background-color:#FFFFFF;
  }

  .navbar {
    flex: 20%;
    height: 100vh ; /* Should be removed. Only for demonstration */
    background-color:#bbb;
  }
  .addingCashier{
    color:#ffffff;
    background-color:#7CE775;
    display: flex; 
    align-items: center;
    text-align: center;
    width: 140px;
    height: 49px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 80%;
    font-size: 18px;
  }

  table{
    margin-left: 5%;
    width: 90%;
    margin-top: 80px;
    border-collapse: separate;
    box-shadow: 0px 0px 10px #e0e0e0;
    text-align: center;
    border: #7CE775;
  }

  .tr1{
    background-color: #FAF9F9;
    color:rgba(55, 170, 166, 1);
    border: #FAF9F9;
    height: 50px;
    
    
    

  }
  .tr2{
    background-color: #ffffff;
    color:rgba(55, 170, 166, 1);
    height: 50px;
  }

