body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.cont {
    display: grid;
    grid-template-columns: 15% 50% 35%;
}

.navbar {
    background-color: #2A8A87;
    height: 99vh;

}

.title {
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    font-size: 1.5vw;
    margin: 5%;
    text-align: center;
    border-bottom: 2px rgba(184, 175, 175, 0.459) solid;
}

.orderDetails {
    display: grid;
    grid-template-rows: auto auto;
    margin: 5%;
    width: auto;
    background-color: rgba(189, 181, 181, 0.315);
    padding: 10%;
    height: 70vh;
    border-radius: 10%;

}

.sec-1 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.addMin {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10%;
}
.addMin div{
    background-color: white;
    height: 20%;
    width: 100%;
    border: 1px solid #2A8A87;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    padding: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th, td {
    text-align: left;
    padding: 8px;
}

h3 {
    color: #2A8A87;
}

tr:nth-child(odd) {
    background-color: white;
}


.third-col {
    margin: 10%;
    display: grid;
    grid-template-rows: auto auto auto;
}

.li {
    margin-left: 5%;
    display: grid;
    grid-template-columns: 20% auto;
    font-size: 1vw;
    color: white;
    padding: 5%;
    grid-gap: 5%;
}

.li img {
    justify-self: center;
    width: 80%;

}

.li:hover {
    color: red;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10%;
    background-color: rgba(189, 181, 181, 0.315);

}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #D7545D;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: rgb(255, 254, 254);
}

.cal {
    text-align: center;
}

.sec-3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.sec-3 button {
    width: 70%;
    height: 40%;
    font-size: 1.2vw;
    color: #ffffff;
    border-radius: 10%;
    outline: none;
    text-decoration: none;
    padding: 6%;
    border: none;
}

.sec-3 button:hover {
    border: 1px solid red;
}

.red {
    background-color: #D7545D;
}

.blue {
    background-color: #2A8A87;
}

.yellow {
    background-color: #E3B750;
}

.green {
    background-color: #7CE775;
}

.thrd-sec2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.thrd-btns {
    width: 50%;
    height: 40%;
    font-size: 1.2vw;
    border-radius: 10%;
    border: 1px solid #2A8A87;
    outline: none;
    text-decoration: none;
    padding: 6%;
    margin-top: 20%;
}

.total-big {
    width: 70%;
    height: 40%;
    font-size: 1.2vw;
    border-radius: 10%;
    border: 1px solid #2A8A87;
    outline: none;
    text-decoration: none;
    padding: 6%;
}

.radio {
    margin-left: 16%;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
}